<h1 class="text-center p-4 fst-italic">ABOUT US</h1>
<h3 class="p-3 text-center fst-italic">What we stand for</h3>
<div class="container d-flex mb-5">
  
 
  <div class="box">
    
    <div class="color text-light fw-light p-5 bg-dark fs-5">
   
      <p>
        We are more than just a pizza restaurant. We are a family dedicated to the art of pizza making. We stand for authenticity, quality, and flavor. Our passion is to deliver not just a pizza, but an experience that brings people together.
      </p>
      
      <p>
        ur ingredients are hand-selected, ensuring every topping, from our fresh basil to our ripe, tangy tomatoes, and our specially blended cheese, is of the highest quality. We believe in traditional methods, which is why our dough is hand-tossed and our pizzas are stone-baked. It's a difference you can taste.
       </p>
      <p>
        We stand for community. We cherish the moments when families and friends gather around our pizzas, sharing laughter and creating memories. Thats why we strive to create a warm, welcoming environment in every corner of our restaurant.
      </p>
      
      <p>
        We stand for sustainability and respect for nature. Wherever possible, we source our ingredients from local farmers who practice sustainable farming methods, because we know that better ingredients make better pizza, and taking care of our planet is a responsibility we all share.
      </p>
      
      <p>
        every pizza tells a story - a story of dedication, tradition, and a love for food. So come and join us, taste the difference, and become a part of our story.
      </p> 

    </div>
  </div>
  <div class="aboutimage"></div>
</div>
