.box{
  width:50%;
  height:auto;

}

.aboutimage{
  width:50%;
  
  background-image: url('https://previews.123rf.com/images/kovalenkovpetr/kovalenkovpetr1710/kovalenkovpetr171000093/87503786-le-dome-night-view-a-traditonal-french-cafe-located-near-the-eiffel-tower-in-paris-france.jpg');
}


