.cart{
 
  border:1px solid rgb(224, 224, 224);
  width:70%;
  height:auto;
  
}

.loop{
  font-size:16px;
}

.image{
  width:40%;
  height:auto;
  padding-right:30px;
}

.nameItems{
  padding:20px;
}

.background{
  height:60px;
  width:100%;
  background-color: rgb(218, 218, 218);
  border:1px solid rgb(185, 185, 185);
}

.summary{
  height:300px;
  border:1px solid rgb(224, 224, 224);
}

@media screen and (max-width:991px){
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .image{
    width:100%;
  }

  .wrap{
    flex-direction: column;
  }

}